@using System.Linq
@inherits NancyRazorViewBase<Nubot.Plugins.Nubot.ViewModel.IndexViewModel>

@{
    ViewBag.Title = "Nubot Plugins";
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Active Plugins</h2>
        <p>
            <ul class="list-group">
                @foreach (var plugin in Model.RobotPlugins)
                {
                    <li class="list-group-item">
                        <h3 class="label label-primary">
                            @plugin.Name
                        </h3>
                        <ul>
                            @foreach (var message in plugin.HelpMessages)
                            {
                                <li><small>@message</small></li>
                            }
                        </ul>
                        
                        @if (plugin.Settings.Any())
                        {
                            <span class="label label-info">Settings</span>

                            <form action="plugins/update" method="POST" class="form" role="form">
                                
                                @{var n = 0;} 
                                <input type="hidden" name="PluginName" value="@plugin.Name" />
                                @foreach (var setting in plugin.Settings)
                                {
                                    <div class="form-group" name="Settings">
                                        <label for="@setting.Key">@setting.Key</label>
                                        <input type="hidden" name="Key[@n]" value="@setting.Key" />
                                        <input type="text" name="Value[@n]" value="@setting.Value" class="form-control">
                                    </div>

                                    n++;
                                }
                                
                                <button type="submit" class="btn btn-default btn-xs">Update</button>
                            </form>
                        }
                    </li>
                }
            </ul>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Get more Plugins</h2>
        <p>Nubot plugins extend its basic capabilities.</p>
        <p><a class="btn btn-default" href="https://github.com/laurentkempe/nubot">Learn more &raquo;</a></p>
    </div>
</div>